SENZ_HOSTNAME=example.com
SENZ_ADDRESS=:9001
SENZ_SECRET_KEY=replace-with-your-secret-key
SENZ_TIMESCALE_URI=postgres://user:password@localhost:5432/timescale
SENZ_POSTGRES_URI=postgres://user:password@localhost:5432/postgres
SENZ_CLICKHOUSE_URI=clickhouse://user:password@localhost:9000/default
SENZ_CONSUL_URI=http://localhost:8500
