# ENV config file
# Copy to all cmd/* before running


# =====================
# Database connections
# =====================
SENZ_TIMESCALE_URI=postgres://user:password@localhost:5432/timescale
SENZ_POSTGRES_URI=postgres://user:password@localhost:5432/postgres
SENZ_CLICKHOUSE_URI=clickhouse://user:password@localhost:9000/default

# =====================
# Service discovery
# =====================
SENZ_CONSUL_URI=http://localhost:8500

# =====================
# Security
# =====================
SENZ_SECRET_KEY=replace-with-your-secret-key

# =====================
# Host info
# =====================
SENZ_HOSTNAME=localhost

# API Gateway, Edge Proxy ...
SENZ_ADDRESS=:8080

# origin of client, frontend ...
SENZ_CLIENT_ORIGIN=http://localhost:8080
