# ENV config file
# Copy to all cmd/* before running


# =====================
# Database connections
# =====================
SNTZ_TIMESCALE_URI=postgres://user:password@localhost:5432/timescale
SNTZ_POSTGRES_URI=postgres://user:password@localhost:5432/postgres
SNTZ_CLICKHOUSE_URI=clickhouse://user:password@localhost:9000/default

# =====================
# Service discovery
# =====================
SNTZ_CONSUL_URI=http://localhost:8500

# =====================
# Security
# =====================
SNTZ_SECRET_KEY=replace-with-your-secret-key

# =====================
# Gateway config
# =====================
SNTZ_GATEWAY_ADDRESS=0.0.0.0:8080

# =====================
# Host info
# =====================
SNTZ_HOSTNAME=localhost

# API Gateway, Edge Proxy ...
SNTZ_HTTP_ADDRESS=:8080

# Only use for gRPC service
SNTZ_GRPC_ADDRESS=:9090

# origin of client, frontend ...
SNTZ_CLIENT_ORIGIN=http://localhost:8080
