[submodule "staging/src/github.com/sentinez/bpf/_submodules/xdp-tools"]
	path = staging/src/github.com/sentinez/bpf/_submodules/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
[submodule "staging/src/github.com/sentinez/bpf/_submodules/libbpf"]
	path = staging/src/github.com/sentinez/bpf/_submodules/libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "_submodules/coreruleset"]
	path = _submodules/coreruleset
	url = https://github.com/coreruleset/coreruleset.git
[submodule "_submodules/grpc-gateway"]
	path = _submodules/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git
[submodule "_submodules/protovalidate"]
	path = _submodules/protovalidate
	url = https://github.com/bufbuild/protovalidate.git
[submodule "_submodules/googleapis"]
	path = _submodules/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "_submodules/opentelemetry-proto"]
	path = _submodules/opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
