package templ

templ forbidden() {
  <div>
    <h1>403 Forbidden</h1>
    <p>You do not have permission to access this resource.</p>
  </div>
}

templ Forbidden() {
  @contentPage("403 | sentinez", forbidden())
}